<form [formGroup] = "form" class="form-container">
    <mat-form-field>
        <mat-label for="firstname">Nom:</mat-label>
        <input matInput formControlName="firstname" type="text" placeholder="Votre nom" name="firstname" id="firstname" ngModel/>
        <mat-error *ngIf="form.get('firstname')?.invalid && (form.get('firstname')?.dirty || firstname?.touched)" class="alert alert-danger">
            Veuillez indiquer un Nom contenant entre 4 et 20 caractères
        </mat-error>
    </mat-form-field>
    
    <mat-form-field>
        <mat-label for="lastname">Prénom:</mat-label>
        <input matInput formControlName="lastname" type="text" placeholder="Votre prénom" name="lastname" id="lastname" required ngModel/>
        <mat-error *ngIf="form.get('lastname')?.invalid && (form.get('lastname')?.dirty || lastname?.touched)" class="alert alert-danger">
            Veuillez indiquer un Prénom contenant entre 4 et 20 caractères
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label for="email">Email:</mat-label>
        <input matInput formControlName="email" type="email" placeholder="Votre email" name="email" id="email" ngModel/>
        <mat-error *ngIf="form.get('email')?.invalid && (form.get('email')?.dirty || email?.touched)" class="alert alert-danger">
            Veuillez indiquer une adresse email valide
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label for="subject">Objet de contact:</mat-label>
        <input matInput formControlName="subject" type="text" placeholder="Objet" name="subject" id="subject" required ngModel/>
        <mat-error *ngIf="form.get('subject')?.invalid && (form.get('subject')?.dirty || subject?.touched)" class="alert alert-danger">
            Veuillez indiquer l'objet de contact
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label for="message">Message:</mat-label>
        <textarea matInput formControlName="message" type="text"  name="message" id="message" required ngModel></textarea>
        <mat-error *ngIf="form.get('message')?.invalid && (form.get('message')?.dirty || message?.touched)" class="alert alert-danger">
            Veuillez indiquer un message
        </mat-error>
    </mat-form-field>
    
        <mat-checkbox formControlName="acceptTerms" type="checkbox"  name="acceptTerms" id="acceptTerms" required ngModel>
        J'accepte les conditions générales d'utilisation
        </mat-checkbox>
        <mat-error *ngIf="form.get('acceptTerms')?.invalid && (form.get('acceptTerms')?.dirty || acceptTerms?.touched)" class="alert alert-danger">
            Veuillez accepter les conditions générales d'utilisation
        </mat-error>
    
    <div>
        <button mat-fab extended  type="submit">Valider</button>
    </div>
</form>
