.form-container{
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    background-color:  rgba(247, 112, 188, 0.3);
    width: 60%;
    height: 80%;
}
mat-form-field{
    width: 80%;
    margin: 10px;
}
button{
    width: 200px;
    background: linear-gradient(to right, rgba(199, 223, 183, 0.8), #dfb7d0)!important;   
    text-transform: uppercase;
    font-size: 18px;
}

